<div class = "container" style="width:400px;">

    <form [formGroup]="newTransactionForm" (ngSubmit)="submitTransactionForm(newTransactionForm.value)">
        <input id="amount" type="number" formControlName="amount"><br>
        <input id="comment" type="text" formControlName="comment"><br>
        <select class="form-control" 
        name="transactionType" required>
            <option *ngFor="let transactionType of transTypes" 
            [value]="transactionType.id">
            {{ transactionType.name }}
            </option>  
        </select>
        

        <button class="btn btn-primary" type="submit" [disabled]="!newTransactionForm.valid">Submit</button>
    </form>
</div>