<p>investment-buy-form works!</p>

<form #newHoldingForm="ngForm" (ngSubmit)="submitPurchaseForm(newHoldingForm.form);">
    <select formControlname="security">
        <option *ngFor="let security of securities" [value]="security">{{security.symbol}} {{security.name}} {{security.currentPrice | currency}}</option>
    </select><br>
    
        <div >
            <label># of Shares </label> 
        <input type="number" 
        class="form-control" 
        formControlname="numShares">
         or 
        <label>Total Cost </label> 
        <input type="number" 
        class="form-control" 
        formControlname="totalCost">

    </div>
    

    <button class="btn btn-primary" [disabled]="!newHoldingForm.valid">Submit</button>
</form>