<p>transaction-form works!</p>
<div class = "container" style="width:400px;">

    <form [formGroup]="newTransactionForm" (ngSubmit)="submitTransactionForm(newTransactionForm.value)">
        <input id="amount" type="number" formControlName="amount"><br>
        <input id="comment" type="text" formControlName="comment"><br>
        <select class="form-control" 
        formControlName="type" required>
            <option *ngFor="let transactionType of transTypes"
            [value]=transactionType>
            {{ transactionType }}
            </option>  
        </select>
        

        <button class="btn btn-primary" type="submit" [disabled]="!newTransactionForm.valid">Submit</button>
    </form>
</div>