<p>transfers works!</p>

<section class='lightbox lightbox-maketransferWidget' title="Make a Transfer ">
    <div class="quickactions-maketransferLightboxContent">

</div>
</section>
<section class='lightbox lightbox-transferpostingtimesmain' title="Transfer Posting Times">
<div id='divTransferPostingTimes' class='TransferPostingTimes'>
<div>Transfers made through ZipWire Online Account Access will be immediately reflected in the “To Account” Balance and the “From Account” Balance on your Transfer/Payment receipt. 
    Transfers will also be reflected in the Available Balance field on the Account Summary and Account Detail screens at the time that you submit the transfer request; however, they will not actually be posted at that time. 
     Accordingly, the actual transfers will not be reflected in the Current Balance, Account Details or All Transaction Activity sections until posted at the end of the business day. 
     Using your browser’s back button will not refresh your account’s Available Balance.</div>
<div>ZipWire’s end of business day is 7:30 pm Eastern Time (ET), Monday through Friday, excluding Federal holidays. 
    Transactions occurring after this time will be posted the next business day (e.g., a transaction made at 8:00 pm ET on Monday the 5th, will be posted the business day of Tuesday the 6th; a transaction made on Friday the 9th at 8:00 pm ET will be posted the business day of Monday the 12th).</div>
<div>Future scheduled one-time or recurring transfers will be processed on the day requested, unless the scheduled date falls on a weekend or Federal holiday. 
    In this event, the transfers will be processed on the business day preceding the weekend or Federal holiday when possible.</div>
<div>All authorized and unposted Branch, ATM, POS and Touch-Tone Teller Transactions are reflected in the Available Balance.</div>
</div>
</section>
