
<h1> <b>What Would You Like To Do?</b></h1>
<div>

<h2>
    <menu>
    <!-- <li><button (click)="transfer.service" type="submit" class="btn btn-primary"><b>Transfer Between Accounts</b></button></li> -->
</menu>
    <menu>
    <li> <button type="submit" class="btn btn-primary"><b>Withdraw</b></button></li>
</menu>
    <menu>
    <li><button type="submit" class="btn btn-primary"><b>Deposit</b></button></li>
</menu>
    </h2>

</div>

<div>
    <h3>
        <menu>
                <a href="#"><b>Home</b></a>
            </menu>
                </h3>
</div>

