
<h1> What Would You Like To Do?</h1>
<div>

<h2>
    <menu>
    <li><button (click)="transfer.service" type="submit" class="btn btn-primary">Transfer Between Accounts</button></li>
</menu>
    <menu>
    <li> <button type="submit" class="btn btn-primary">Withdraw</button></li>
</menu>
    <menu>
    <li><button type="submit" class="btn btn-primary">Deposit</button></li>
</menu>
    </h2>

</div>

<div>
    <h3>
        <menu>
                <a href="#">Home</a>
            </menu>
                </h3>
</div>

