<!-- <div id="accordion" *ngFor="let holding of account.holdings" >
    <div class="card">
      <div class="card-header" id="heading{{holding.id}}">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapse{{holding.id}}" (click)="collapsed = !collapsed">
            {{holding.security.symbol}} {{holding.security.name}}
          </button>
        </h5>
      </div>
  
      <div id="collapse{{holding.id}}" class="collapse show" data-parent="#accordion" >
        <div class="card-body">
            {{holding.numShares}}
        </div>
      </div>
    </div>
</div> -->

<ngb-accordion [closeOthers]="true" >
    <ngb-panel id="static-{{holding.id}}" *ngFor="let holding of holdings">
        <ng-template ngbPanelTitle style="width:100%;">
            <!-- <div class="card title" style="width:100%;"> -->
                <span style="float:left;">{{holding.security.symbol}} ({{holding.security.name}})</span> 
            <!-- </div> -->
        </ng-template>
        <ng-template ngbPanelContent>
            <label>Shares Held</label>: {{holding.numShares}}<br>
            <label>Purchased on</label>: {{holding.purchaseDate | date: shortDate}}<br>
            <label>Purchase Value</label>: {{holding.purchaseValue | currency}} ({{holding.purchaseCost | currency}}/share)<br>
            <label>Current Position Value</label>: {{holding.value | currency}} ({{holding.security.currentPrice | currency}}/share)<br>
            <button type="button" class="btn btn-primary" (click)="sellHolding(holding.id)">
              Liquidate Position
            </button>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
