

<div style="text-align:center"><h1>Welcome, {{currentUser.firstName}}</h1></div>
<div style = "text-align:left"><h2>User Details:</h2></div>
<hr size = "12" color = "black">
    

<div class ="userInfo" *ngIf=currentUser>

    <h2>First Name: {{currentUser.firstName}}</h2>
        
    <h2>Last Name: {{currentUser.lastName}}</h2>    

    <h2>Email: {{currentUser.email}} </h2>

    <h2>Password: {{currentUser.email}}</h2>

</div>



<div>
    <a class="btn btn-primary btn-md" (click)="displayEdit()" role="button">Update Profile</a>
</div>
