

<div style="text-align:center"><h1>Welcome, {{currentUser.firstName}}</h1></div>
<div style = "text-align:left"><h2>User Details:</h2></div>
<hr size = "12" color = "black">
    

<div class = "userInfo" *ngIf="currentUser; else noUser">
    <h2>

    
        <p>First Name: {{currentUser.firstName}}</p>
        
        <p>Last Name: {{currentUser.lastName}}  </p>  

        <p>Email: {{currentUser.email}} </p>

        <p>Password: ******** </p>
    
    </h2>
</div>

<ng-template #noUser>
    <h1>*Please Log In To View Your User Details</h1>
</ng-template>


<div>
    <p><a class="btn btn-primary btn-md" (click)="displayEdit()" role="button">Update Profile</a></p>
</div>

<div>
    <p><a class="btn btn-primary btn-md" (click)="returnToInvestments()" role="button">Investments</a></p>
</div>
