<div><h1>User Profile</h1></div>


<div class="container">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>User Name: </th>
            <th>User Email: </th>
            <th>User Rent: </th>
            <th>User Salary: </th>
          </tr>
      </thead>
      <tbody>
        <!--<tr *ngFor="currentUser"> -->
          
          <tr >
              <td>{{ currentUser.firstName| async }} </td>
          <td>{{ currentUser.email}}</td>
          <td>{{ currentUser.rent }}</td>
          <td>{{ currentUser.salary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <td>  
      <button class= 'btn btn-info' (click)="updateUser()"> UPDATE DATA</button>
    </td>

